<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
			<key>footerText</key>
			<string>Enabling/Disabling requires a Respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.xtm3x.reachall~prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Respring Now</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activator</string>
			<key>footerText</key>
			<string>Set up any activation method to invoke reachability.</string>
		</dict>
		<dict>
			<key>activatorListener</key>
			<string>com.xtm3x.reachtest</string>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Activation Methods</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Offset Value</string>
			<key>footerText</key>
			<string>Change how far down Reachability goes (default is 0.30).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.reachall~prefs</string>
			<key>key</key>
			<string>offset</string>
			<key>label</key>
			<string>Override</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.30</real>
			<key>defaults</key>
			<string>com.xtm3x.reachall~prefs</string>
			<key>key</key>
			<string>off</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
		</dict>
	   <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
			<key>footerText</key>
			<string>Developed by xTM3x © 2014</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>web</string>
			<key>label</key>
			<string>Visit my website</string>
			<key>icon</key>
			<string>web@2x.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>ReachAll</string>
</dict>
</plist>
